.index-header {
    width: 100%;
    padding: 10px 0px 20px 0px;
}

.index-header-content,
body:not(.index-body),
.posts-history {
    max-width: 800px;
}

body {
    overflow-x: hidden;
}

.contacts,
.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contacts {
    gap: 10px;
    flex-direction: row-reverse;
}

.contact {
    gap: 3px;
}

img:not(.redirect-icon, .contact-img, .selfie) {
    display: block;
    margin: auto;
    max-width: 100%;
    border: 1px dotted gray;
    margin-bottom: 20px;
}

.inner-index-body {
    padding: 0px 8px;
}

.inner-index-body-container {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 850px) {
    .inner-index-body {
        display: grid;
        grid-template-columns: 340px minmax(auto, 800px);
        grid-gap: 50px;
        margin: auto;
    }
}

@media only screen and (max-width: 850px) {
    .selfie {
        width: 380px;
    }

    .posts-history,
    .myself-description {
        margin: 0px auto;
    }

    .myself-description {
        max-width: 800px;
    }

    .posts-history {
        grid-template-columns: 1fr !important;
    }

    .post-link {
        background-color: transparent !important;
    }
}

@media only screen and (min-width: 1000px) {
    .myself-container {
        position: relative;
        top: -70px;
    }
}

.selfie {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}

.myself-description {
    text-align: left;
}

body:not(.index-body) {
    padding: 0px 20px;
}

body:not(.index-body),
.index-header-content {
    margin: auto;
}

body {
    font-family: 'Source Serif Pro', serif;
    font-size: 19.2px;
    line-height: 1.6;
}

@media only screen and (max-width: 600px) {

    body,
    .post-link {
        font-size: 18px !important;
    }

    div.sourceCode,
    code:not([class]) {
        font-size: 14px !important;
    }

    .footnotes {
        font-size: 16px !important;
    }
}

.discussions {
    text-align: right;
}

code:not([class]) {
    background-color: rgba(85, 87, 88, 0.137);
    border-radius: 4px;
    padding: 2px;
}

div.sourceCode {
    display: block;
    margin: auto;
    max-width: 700px;
    padding: 16px;
    line-height: 25px;
    background-color: Linen;
    border: 1px dotted LightGray;
}

code:not([class]),
div.sourceCode,
.code-annotation,
.code-annotation>code {
    font-size: 15.2px;
}

body:not(.index-body)>pre {
    margin-top: 16px;
}

.code-annotation {
    width: auto;
    min-width: min-content;
    max-width: max-content;
    background-color: #e8ccd7;
    font-style: italic;
    padding: 0px 5px;
    border-style: dashed;
    border-width: 1px;
}

.code-annotation-container {
    margin: auto;
    max-width: 732px;
    margin-bottom: -16px;
}

.code-annotation>code {
    background-color: transparent;
}

.adapted-from {
    position: relative;
    font-style: italic;
    font-family: 'Courier Prime', monospace;
    text-align: right;
}

.adapted-from::before {
    content: ">> ";
}

h1,
.blog-title {
    text-align: right;
    font-size: 2.5rem;
}


h2:before {
    content: "¶ ";
    color: gray;
}

h1,
h2,
h3,
h4,
h5,
h6,
.toc-title,
.blog-title {
    font-family: 'Roboto Condensed', sans-serif;
}

h1:not(.blog-title):hover,
h2:hover,
h3:hover {
    text-decoration: underline;
    color: gray;
}

::selection {
    color: white;
    background-color: black;
}

.posts-history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.post-link {
    padding: 10px 5px;
    font-size: 19.2px;
    background-color: #ededed;
}

.post-link>a {
    color: black;
}

.post-date {
    color: gray;
    font-style: italic;
}

.index-header-container {
    margin: 0px 8px;
}

.redirect-icon {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 7px;
}

#TOC {
    /* Remove later in JS during page content adjustment. */
    display: none;

    background-color: #ededed;
    padding: 5px 0px;

    /* https://css-tricks.com/full-width-containers-limited-width-parents/#aa-no-calc-needed */
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin: 40px -50vw;
}

#TOC ul {
    max-width: 450px;
    margin: 20px auto;
    padding-right: 10px;
}

.toc-title {
    text-align: center;
    font-size: 28px;
    font-weight: 100;
    margin: 5px 0px 0px 0px;
}

.header-link {
    text-decoration: none;
    color: inherit;
}

.date {
    color: gray;
    font-style: italic;
}

.author a {
    font-style: italic;
}

a:hover {
    background-color: PaleVioletRed;
}

blockquote {
    font-style: italic;
    color: dimgray;
}

blockquote>p {
    position: relative;
    top: 30px;
    margin-left: 50px;
}

blockquote::before {
    position: absolute;
    content: "\201C";
    font-size: 60px;
}

.quote-author {
    text-align: right;
    font-style: italic;
    font-family: 'Luxurious Roman', cursive;
    margin-top: 40px;
    margin-bottom: 55px;
}

.quote-author::before {
    content: "— ";
}

#refs,
.contacts,
.footnotes {
    font-size: 17.2px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid gray;
}

td {
    padding: 0px 5px;
}

details:hover {
    cursor: pointer;
}