.index-header {
    width: 100%;
    padding: 10px 0px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: rgb(246, 246, 246);
}

.index-header-content {
    max-width: 800px;
    margin: auto;
}

/* Badass pink: #c64d75 */

.blog-title {
    font-family: "Goddess-Title";
    font-size: 34px;
    text-align: right;
    margin-bottom: 10px;
}

.contacts,
.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contacts {
    gap: 10px;
    flex-direction: row-reverse;
}

.contact {
    gap: 3px;
}

img:not(.redirect-icon, .contact-img, .myself) {
    display: block;
    margin: auto;
    max-width: 100%;
    border: 1px dotted gray;
    margin-bottom: 20px;
}

.myself {
    display: block;
    width: 380px;
    max-width: 100%;
    margin: 20px auto 20px auto;
}

.index-body {
    margin: 0px;
}

body:not(.index-body) {
    padding: 0px 20px;
}

body:not(.index-body),
.posts-history {
    margin: auto;
    max-width: 800px;
}

body {
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    line-height: 1.6;
}

html {
    /* Fix right side overflow on mobile devices. */
    overflow-x: hidden;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 18px !important;
    }

    div.sourceCode,
    code:not([class]) {
        font-size: 14px !important;
    }

    .footnotes {
        font-size: 16px !important;
    }
}

code:not([class]) {
    font-size: 16px;
    background-color: rgba(85, 87, 88, 0.137);
    border-radius: 4px;
    padding: 2px;
}

div.sourceCode {
    display: block;
    margin: auto;
    max-width: 700px;
    padding: 16px;
    line-height: 25px;
    font-size: 16px;
    background-color: Linen;
    border: 1px dotted LightGray;
}

body:not(.index-body) pre {
    margin-top: 16px;
}

.code-annotation {
    width: auto;
    min-width: min-content;
    max-width: max-content;
    background-color: #e8ccd7;
    font-style: italic;
    font-size: 16px;
    padding: 0px 5px;
    border-style: dashed;
    border-width: 1px;
}

.code-annotation-container {
    margin: auto;
    max-width: 732px;
    margin-bottom: -16px;
}

.code-annotation code {
    font-size: 16px;
    background-color: transparent;
}

.adapted-from {
    position: relative;
    font-style: italic;
    font-size: 18px;
    font-family: 'Courier Prime', monospace;
    text-align: right;
}

.adapted-from::before {
    content: ">> ";
}

h1 {
    text-align: right;
    font-size: 2.5rem;
}

.discussions {
    text-align: right;
}

h2:before {
    content: "¶ ";
    color: gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1:not(.blog-title):hover,
h2:hover,
h3:hover {
    text-decoration: underline;
    color: gray;
}

::selection {
    color: white;
    background-color: black;
}

#TOC,
.posts-history {
    border-style: solid;
    border-width: 0px 0px 0px 10px;
    border-color: PaleVioletRed;
    margin-bottom: 20px;
}

.posts-history {
    flex-direction: column;
    margin-top: 20px;
    max-width: 800px;
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
}

.posts-history .post-link {
    border: none;
    padding: 10px 5px;
}

.posts-history div:nth-child(odd) {
    background-color: #f2f2f2;
}

.posts-history-container,
.myself-container,
.index-header-container {
    margin: 0px 8px;
}

.redirect-icon {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 7px;
}

#TOC {
    /* Remove later in JS during page content adjustment. */
    display: none;

    background-color: #ededed;
    padding: 5px 0px;
    margin: 40px auto;
    max-width: 600px;
}

#TOC ul {
    max-width: 450px;
    margin: 20px auto;
}

.toc-title {
    text-align: center;
    font-size: 28px;
    font-family: "Goddess-Title";
    font-weight: 100;
    margin: 5px 0px 0px 0px;
}

.header-link {
    text-decoration: none;
    color: inherit;
}

.date {
    color: gray;
    font-style: italic;
}

.author a {
    font-style: italic;
}

a:hover {
    background-color: PaleVioletRed;
}

blockquote {
    font-style: italic;
    color: dimgray;
}

blockquote p {
    position: relative;
    top: 30px;
    margin-left: 50px;
}

blockquote::before {
    position: absolute;
    content: "\201C";
    font-size: 60px;
}

.quote-author {
    text-align: right;
    font-style: italic;
    font-family: 'Luxurious Roman', cursive;
    margin-top: 40px;
    margin-bottom: 55px;
}

.quote-author::before {
    content: "— ";
}

#refs,
.contacts {
    font-size: 18px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid gray;
}

td {
    padding: 0px 5px;
}


/* Footnotes generated by Pandoc. If `createPopupNotes` is called, they are not shown. */

.footnotes {
    font-size: 18px;
}

.note {
    position: absolute;
    visibility: hidden;
}

.note-text {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    width: 400px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    background-color: floralwhite;
    padding: 5px 12px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    right: -200px;
    bottom: 30px;
    z-index: 1;
}

.note-container {
    position: relative;
}

.note-sup {
    color: blue;
    cursor: pointer;
    font-size: smaller;
}

.show-note {
    visibility: visible;
}

details:hover {
    cursor: pointer;
}