.about-me,
.badges {
    text-align: center;
}

.post-date {
    font-style: italic;
    color: gray;
}

.austin-powers {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    line-height: 1.6;
}

p {
    text-align: justify;
}

code {
    font-size: 16px;
}

.sourceCode {
    background-color: beige;
}

pre code {
    display: block;
    background-color: beige;
    padding: 16px;
}

h1 {
    font-size: 2.5rem;
}

h2:before {
    content: '¶ ';
    color: gray;
}

h2:after {
    content: ' ';
    position: absolute;
    right: 0px;
    display: block;
    border: 1px solid gray;
    width: 100vw;
}

#TOC {
    background-color: #f2f2f2;
    padding: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alata', sans-serif;
}

h1 {
    text-align: right;
}

.date {
    color: gray;
    font-style: italic;
}

.author {
    color: gray;
    font-style: italic;
}

blockquote {
    font-style: italic;
    color: dimgray;
}

blockquote p {
    position: relative;
    top: 30px;
    margin-left: 50px;
}

blockquote::before {
    position: absolute;
    content: '\201C';
    font-size: 60px;
}

.quote-author {
    text-align: right;
    font-style: italic;
}

#refs {
    font-size: 18px;
}

.note {
    position: absolute;
    visibility: hidden;
}

.note-text {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    width: 400px;
    text-align: center;
    font-size: 18px;
    background-color: #f2f2f2;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    right: -200px;
    bottom: 30px;
    z-index: 1;
}

.note-container {
    position: relative;
}

.note-sup {
    color: blue;
    cursor: pointer;
    font-size: smaller;
}

.show-note {
    visibility: visible;
}