<p class="badges">
        <a href="https://www.linkedin.com/in/hirrolot-h-0b9427236/" class="badge"><img
                        src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"
                        class="badge" /></a>
        <a href="mailto:hirrolot@gmail.com" class="badge"><img
                        src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white"
                        class="badge" /></a>
        <a href="https://t.me/hirrolot" class="badge"><img
                        src="https://img.shields.io/badge/Telegram-2CA5E0?style=for-the-badge&logo=telegram&logoColor=white"
                        class="badge" /></a>
        <a href="https://www.reddit.com/user/hirrolot" class="badge"><img
                        src="https://img.shields.io/badge/Reddit-FF4500?style=for-the-badge&logo=reddit&logoColor=white"
                        class="badge" /></a>
        <a href="https://twitter.com/hirrolot" class="badge"><img
                        src="https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white"
                        class="badge" /></a>
        <a href="https://github.com/hirrolot" class="badge"><img
                        src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
                        class="badge" /></a>
        <a href="https://hirrolot.github.io/rss.xml" class="badge"><img
                        src="https://img.shields.io/badge/RSS-FFA500?style=for-the-badge&logo=rss&logoColor=white"
                        class="badge" /></a>
</p>