<!DOCTYPE html>
<html>
<head>
<title>hirrolot</title>
{{template "header.html"}}
<link rel="stylesheet" href="style.css" />
<link rel="shortcut icon" href="myself.png" type="image/x-icon">
<script src="script.js"></script>
</head>

<body class="index-body">
    <header class="index-header">
        <div class="index-header-content">
            <span class="blog-title">hirrolot</span>
            <div class="contacts">
                {{range .Contacts}}
                <div class="contact">
                    <img src="media/{{.Img}}" class="contact-img" />
                    <a href="{{.Link}}" class="contact-link">{{.Description}}</a>
                </div>
                {{end}}
            </div>
        </div>
    </header>

    <div class="posts-history-container">
    <div class="posts-history">
    {{range .Posts}}
        <div class="post-link">
            <a href="{{$.OutputDir}}/{{.Name}}.html">{{.Title}}</a>
            <span class={{if .RedirectTo}}"redirect-post"{{else}}"regular-post"{{end}}></span>
            <br>
            <span class="post-date">{{.Date.Format "Jan 2, 2006"}}</span>
        </div>
    {{end}}
    </div>
    </div>
</body>
</html>
