<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hirrolot</title>
    {{template "header.html"}}
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="myself.png" type="image/x-icon">
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="fonts/GoddessTitle.css">
</head>

<body class="index-body">
    <header class="index-header">
        <div class="index-header-container">
        <div class="index-header-content">
            <div class="blog-title">hirrolot</div>

            <div class="contacts">
                {{range .Contacts}}
                <div class="contact">
                    <img src="media/{{.Img}}" class="contact-img" />
                    <a href="{{.Link}}" class="contact-link">{{.Description}}</a>
                </div>
                {{end}}
            </div>
        </div>
        </div>
    </header>

    <div class="myself-container">
        <img src="myself.png" class="myself" />
    </div>

    <div class="posts-history-container">
    <div class="posts-history">
    {{range .Posts}}
        <div class="post-link">
            <a href="{{$.OutputDir}}/{{.Name}}.html">{{.Title}}</a>
            {{if .RedirectTo}}<img src="media/external-link.svg" class="redirect-icon" />{{end}}
            <br>
            <span class="post-date">{{.Date.Format "Jan 2, 2006"}}</span>
        </div>
    {{end}}
    </div>
    </div>
</body>
</html>
