<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hirrolot's Blog</title>
    {{template "header.html"}}
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="myself.png" type="image/x-icon">
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="fonts/GoddessTitle.css">
    <link rel="stylesheet" type="text/css" href="fonts/ChristelWagnerReg.css">
</head>

<body class="index-body">
    <header class="index-header">
        <div class="index-header-container">
        <div class="index-header-content">
            <div class="blog-title">hirrolot's Blog</div>

            <div class="contacts">
                {{range .Contacts}}
                <div class="contact">
                    <img src="media/{{.Img}}" class="contact-img" />
                    <a href="{{.Link}}" class="contact-link">{{.Description}}</a>
                </div>
                {{end}}
            </div>
        </div>
        </div>
    </header>

    <div class="inner-index-body-container">
    <div class="inner-index-body">

    <div class="myself-container">
        <div class="myself">
            <img src="myself.png" class="selfie" />
            <p class="myself-description">I'm a 19 y/o software engineer and computer science enthusiast most known for my work on <a href="https://github.com/teloxide/teloxide">Teloxide</a> and <a href="https://github.com/hirrolot/metalang99">Metalang99</a>. My interests range over systems programming, backend engineering, compilers, type theory, functional programming, and related stuff. I occasionally publish posts, participate in conferences, and do open-source. I mainly write code in C, OCaml, Rust, and Golang.<br><br>Welcome to my blog!</p>
        </div>
    </div>

    <div class="posts-history">
    {{range .Posts}}
        <div class="post-link">
            <a href="{{$.OutputDir}}/{{.Name}}.html">{{.Title}}</a>
            {{if .RedirectTo}}<img src="media/external-link.svg" class="redirect-icon" />{{end}}
            <br>
            <span class="post-date">{{.Date}}</span>
        </div>
    {{end}}
    </div>

    </div>
    </div>
</body>
</html>
