{{template "my-fonts-license.tmpl"}}
<link rel="stylesheet" type="text/css" href="../fonts/GoddessTitle.css">

<link rel="shortcut icon" href="../myself.png" type="image/x-icon">
<script src="../script.js"></script>
