<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <script>window.location.replace("{{.RedirectTo}}");</script>
</head>
<body>
    If the page does not redirect you, please click <a href="{{.RedirectTo}}">here</a>.
</body>
</html>
